<h1>{{ counter$ | async }}</h1>
<button (click)="incrementaContador()">Incrementar</button>
<button (click)="decrementaContador()">Decrementar</button>
<button (click)="adicionarItem()">Adicionar</button>

<!-- <app-display-contador [counter]="(counter$ | async) ?? 0" /> -->

<br />
<br />
<input #inputContador type="text" />
<button (click)="definirContador(inputContador.value)">Definir</button>
<br />
<br />
<input [(ngModel)]="nome" type="text" placeholder="nome" />
<br />
<br />
<input [(ngModel)]="idade" type="text" placeholder="idade" />
<app-display-contador />
